DB_TYPE="postgres"
DSN="dbname=encoder ssl=disable user=postgres password=root host=localhost port=5432"
DB_TYPE_TEST="sqlite3"
DSN_TEST=":memory:"

ENV="dev"
DEBUG=true
AUTO_MIGRATE_DB=true

GOOGLE_APPLICATION_CREDENTIALS="./bucket-credential.json"
LOCAL_STORAGE_PATH="./tmp"
